<!DOCTYPE html>
<html>
<head>
        <!-- <link rel="stylesheet" type="text/css" href="../Style/stilu.css"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        

</head>
<body >

<h2>HTML Table</h2>

<table id="table1" class="table">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">NOME EMPRESA</th>
    <th scope="col">ENDEREÇO</th>
    <th scope="col">CNPJ</th>
  </tr>  
</table>
<footer>
  <form id="for">
      <table id="table2" class="table">
          <tr>
            <td scope="col"><input type="text" id="nome_emp"></input></td>
            <td scope="col"><input type="text" id="ende"></input></td>
            <td scope="col"><input type="number" id="cnpj"></input></td>
            <td scope="col"><button class="btn btn-primary">Enviar</td>
          </tr>
        </table>    
  </form> 
</footer>
</body>
<script  src="../Script/jquery.js"></script>
<script src="../Script/Executa.js"></script>
</html>



